body{
    background-color:rgb(8, 8, 60);
    background-image: url(img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 99vh;
    overflow: hidden;
}


.icono {
    width: 14vw;
    margin-right: 10vh;
  }

.navbar-brand{
  margin: 2rem;  
}

  nav{
    padding: 20px;
    margin: 10px;
  }

  .navButton {
    display: flex;
    flex-direction: row; /* Esto asegura que los elementos dentro del contenedor se alineen en fila */
  }
  
  .navButton ul {
    display: flex; /* Esto convierte el ul en un contenedor flex, haciendo que los li se alineen en fila */
    padding: 0; /* Elimina el padding predeterminado del ul */
    margin: 0; /* Elimina el margen predeterminado del ul */
    list-style: none; /* Elimina los puntos de la lista */
    min-width: 80vh;
    justify-content: space-between;
  }
  
  .navButton li {
    margin-right: 3vw; /* Espacio entre los elementos de la lista */
  }
  
  .navButton a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Ajusta el color del texto si es necesario */
  }
  
  .navGeneral{
    display: flex;
    align-items: center;
  }

  .nav-link:hover{
    color: tomato;
  }

  .nav-link.active{
    color: lightseagreen !important;
  }
  
  
  

  h1{
    color: white;
    width: 45%;
    margin: 4vw;
    padding-top: 3vh;
  }

  h3{
    color: white;
    margin-left: 4vw;
    font-size: 4vh;
  }

  h4{
    color: white;
    font-size: 3.6vh;
  }

  .text{
    width: 90vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }



  .iconWP{
    height: 5vh;
    width: 3vw;
  }

  .articleContact{
    display: flex;
    flex-direction: row;
  }

  .contactMargin{
    margin: 5vh 10vh 10vh 0vh;
  }

  span{
    color: white;
  }

  .contactBox{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: transform 0.3s ease;
  }

  .contactBox:hover{
    transform: scale(1.2);
  }

  p{
    color: white;
  }

  .boxSize{
    margin-left: 9vh;
    margin-top: 4vh;
  }

  .fira {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .poppins{
    font-family: "Poppins", serif;
    font-weight: 200;    
  }


  h7 {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:lightseagreen;
    font-size: 4.1vw;
  }


  @media screen and (max-width: 991px) {
    .icono {
      width: 40vw;
    }
    body{
      background-color: rgb(8, 8, 60);
      background-image: none;
      height: auto;
      overflow-y: auto;
    }
      
    header{
      background-color: rgba(0, 0, 0, 0.288);
    }

    .navButton ul {
      align-items: center;
      background-color: rgba(58, 58, 58, 0.41) ;
      width: 100%;
      min-width: 0;
    }
    .navButton li {
        font-size: 25px; 
    }
    .navbar-brand{
      margin: 0;  
    }
    h1{
      width: 80vw;
      text-align: center;
      margin: 10vw;
      margin-top: 40vw;
      font-size: 4vh;
    }
    h3{
      text-align: center;
      margin: 0;
      font-size: 4vw;
    }

    .boxSize{
      margin-left: 0;
      margin-top: 10vh;
    }

    h7{
      font-size: 8vw;
    }
    h4{
      font-size: 5vw;
    }
    .mobileCenter{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 10vw;
      width: 80vw;
    }

    nav{
      margin: 0;
      padding: 0;
    }

    .map{
      display: flex;
      justify-content: center;
    }

    .articleContact{
      flex-direction: column;
    }

    .contactMargin{
      margin: 5vh;
    }
    .contactBox{
      display: flex;
      align-items: center;
      height: 7h;
      background-color: rgba(0, 0, 0, 0.089);
    }

    .iconWP{
      width: 5vh;
    }

  }
